<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Table Request</h4>
                      <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                <th>Space Id</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Rate</th>
                                <th>Amenities</th>
                                <th>Capacity</th>
                                <th>Location</th>
                                <th>Image</th>
                                <th>Action </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let w of workspaces">
                                      <td>{{ w.space_id }}</td>
                                      <td>{{  w.firstname  }} {{  w.lastname  }}</td>
                                      <td>{{  w.type  }}</td>
                                      <td>{{ w.rate }}/{{ w.rate_type }}</td>
                                      <td>{{ w.amenities }}</td>
                                      <td>{{ w.capacity }}</td>
                                      <td>{{ w.location_no }} {{ w.location_street}} {{ w.location_barangay }} {{ w.location_city }}  {{ w.location_province }}</td>
                                      <td><img [src]="w.workspace_image" style="height:40px;widht:40px;"></td>
                                      <td><input type="checkbox" (change)="toggleWorkspaceVerify(w)" [checked]="w.isVerify"></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
